body {
    font-family: "Times New Roman", Times, serif;
    background-color: white;
    color: black;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.dropdown-content {
    display: none; /* Hidden by default */
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

.dropdown-button {
    cursor: pointer;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

.dropdown-button:hover {
    background-color: #0056b3;
}

.container {
    width: 8.5in;
    height: 11in;
    margin: 0 auto;
    padding: 0.5in;
    box-sizing: border-box;
    page-break-after: always;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.contact-info {
    font-size: 12pt;
    text-align: center;
    margin-bottom: 10px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.institution-logo {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.education,
.projects,
.experience {
    margin-bottom: 20px;
}

h1 {
    font-size: 18pt;
    margin: 10px 0;
}

h2 {
    font-size: 16pt;
    margin: 15px 0 10px;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

h3 {
    font-size: 14pt;
    margin: 10px 0 5px;
}

h4 {
    font-size: 12pt;
    margin: 10px 0 5px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

a {
    color: #000;
    text-decoration: none;
}

@media print {
    @page {
        size: letter;
        margin: 0;
    }

    body {
        background-color: white;
    }
    
    .container {
        box-shadow: none;
    }
    
    a {
        text-decoration: underline;
    }

    .contact-info {
        position: running(header);
    }

    @page {
        @top-center {
            content: element(header);
        }
    }
}
