body {
    margin: 1.5rem;
    font-family: serif;
    line-height: 1.6;
    color: #000;
    background: #fff;
}

a {
    color: #00f;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3 {
    margin: 1rem 0 0.5rem;
}
