html,
body {
    margin: auto;
    margin-top: 3em;
    padding: 0;
    width: 80%;
    font-family: Georgia; 
    color: black; 
    text-align: left;
    font-style: white;
    background: white;
}


a {
    color: #014514; 
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: #014514; 
    font-weight: bold;
}

a:hover {
    color: #EB6D0F; 
    text-decoration: none;
}







