html,
body {
    margin: auto;
    margin-top: 3em;
    padding: 0;
    width: 80%;
    font-family: Georgia; 
    color: black; 
    text-align: left;
    font-style: white;
    background: #f7efda;
}


a {
    color: #852901; 
    text-decoration: none;
}

a:visited {
    color: #852901; 
}

a:hover {
    color: #7caef7; 
    text-decoration: none;
}







